<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Task Manager</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>

<div class="container">




    <div class="row mt-5">

        <div class="col-10 card shadow mx-auto mt-3">

            <div class="card-header text-center bg-dark text-light mt-2">
                <h3><%= titlePage %></h3>
            </div>

            <div class="card-content my-3">

                <form method="post" action="<%= action  %>">

                    <div class="mb-3">
                        <label for="title" class="form-label">title</label>
                        <% if(title) { %>
                            <input type="text" class="form-control" name="title" id="title" placeholder="Nom du produit" value=<%=title%>>
                        <% }else{ %>
                            <input type="text" class="form-control" name="title" id="title" placeholder="Nom du produit">
                        <% } %>
                    </div>

                    <div class="mb-3">
                        <label for="label" class="form-label">label</label>
                        <% if(label) { %>
                            <input type="text" class="form-control" name="label" id="label" placeholder="nom du bien" value=<%=label%>>
                        <% }else{ %>
                            <input type="text" class="form-control" name="label" id="label" placeholder="nom du bien">
                        <% } %>
                    </div>

                    <div class="mb-3">
                        <label for="quantity" class="form-label">Quantité</label>
                        <% if(quantity) { %>
                            <textarea class="form-control" name="quantity" id="quantity"
                            placeholder="Nombre de bien"><%=quantity%></textarea>
                        <% }else{ %>
                            <textarea class="form-control" name="quantity" id="quantity"
                                placeholder="Nombre de bien"></textarea>
                        <% } %>
                    </div>

                    <div class="mb-3">
                        <label for="priceHT" class="form-label">PrixHT</label>
                        <% if(priceHT) { %>
                            <input type="text" class="form-control" name="priceHT" id="priceHT" placeholder="Prix HT unitaire du bien" value=<%=priceHT%>>
                        <% }else{ %>
                            <input type="text" class="form-control" name="priceHT" id="priceHT" placeholder="Prix HT unitaire du bien">
                        <% } %>
                    </div>

                    
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button type="submit" class="btn btn-dark">AJOUTER</button>
                    </div>

                </form>

            </div>

        </div>


    </div>

</div>


</body>
</html>